* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    background-color: white;
}
header {
    background: rgba(229, 84, 115, 0.1);
}
.main-color {
    color: #e55473;
}
.btn-primary {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 45px;
    background-color: #e55473;
    border: none;
    border-radius: 8px;
}
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-heading {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 708px;
}
.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-style: normal;
    margin-bottom: 30px;
}
.banner-text {
    margin-left: 150px;
}
.banner-img {
    margin-right: 150px;
    padding-top: 40px;
}
.header-img {
    height: auto;
    width: auto;
}

/* featured flower section */

.featured-container {
    margin-top: 100px;
}
.featured-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.featured-description {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}

.img-name {
    display: flex;
    justify-content: center;
    color: #272727;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
}

.first-img {
    background: rgba(167, 33, 98, 0.15);
    padding: 85px 60px 0 60px;
    border-radius: 250px 250px 0px 0px;
}
.second-img {
    background: rgba(5, 151, 160, 0.15);
    padding: 120px 25px 20px 40px;
    border-radius: 250px 250px 0px 0px;
}
.third-img {
    background: rgba(71, 125, 17, 0.15);
    padding: 40px 60px 0px 50px;
    border-radius: 250px 250px 0px 0px;
}
.featured-img-container {
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    margin: 40px auto;
}

/* Hot Deal Section */

.deals-container {
    background: rgba(229, 84, 115, 0.05);
}
.deal-heading {
    font-size: 40px;
    margin-bottom: 15px;
}
.deal-content {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 60px 30px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    display: flex;
    width: 584px;
    font-size: 17px;
    margin: 25px 0;
}
.deal-btn {
    display: flex;
    margin: 10px auto;
}

/* Instagram Section */
.instagram-container {
    margin-top: 100px;
}
.instagram-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.instagram-description {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
}

.insta-img-container {
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    margin: 40px auto;
}
